/a.html
/Calcu EVO.txt
/calcuppto.html
/calcuppto2.html
/calcuppto3.html
/calcupti
/Informe E-commerce Q4 2025 _ Análisis de Mercado y Oportunidades.pdf
/juego.html
/juego2.html
/mail auto 1.txt
/New Text Document.txt
/Oriente
/otras pruebas
/p1 informe.pdf
/P1-plantillapresentaciones.html
/p1dashboard.html
/p2 ppt.txt
/p2.html
/p2dashboard.html
/p2ppt.html
/p3.hmtl
/p3.html
/p3dashboard.html
/p4.html
/p4dashauto.html
/p5.html
/p6.html
/p7imprimible.html
/paretofinal.html
/paretofixed.html
/previsualizacion.html
/pruebas
/Q4 ARG
/signatura2.html
/signatura2.txt
/signature3.html
/signaturepoppins.html
/template.html
/test pareto 1.txt
/testpareto1.html
/testpareto2.html
/testpareto3.html
/testpareto4.html
/testpareto5.html
/w.html